{% extends 'layout.html' %}

{ % block title } Editar tasca { % endblock % }

{% load static %}
{% block custom_css_file %}
<link rel="stylesheet" href="{% static 'css/edit_task.css' %}">
{% endblock %}

{% block main %}

<h1>Actualitzar tasca</h1>

<form action="{% url 'editar_task' task.id %}" method="POST">
    {% csrf_token %}
    <label>
        Nom de la tasca
        <input type="text" value="{{ task.title }}" name="title">
    </label>

    <label>
        Categories disponibles
        <select multiple name="categories_ids">
            {% for c in categories %}
            <option value="{{ c.id }}">{{ c }}</option>
            {% endfor %}
        </select>
    </label>

    <div id="task-cmplt">
        <label for="task-input">
            Completada
        </label>
        <input id="task-input" type="checkbox" name="completed" value="True" {% if task.completed %}checked{% endif %}>
    </div>

    <button>Actualitzar tasca</button>
</form>

{% endblock %}