{% extends 'layout.html' %}

{% block title %} Página d'inici {% endblock %}

{% load static %}
{% block custom_css_file %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main %}

<h1><a href="https://github.com/emmaschzal/todo-django" target="_blank">{{ title }}</a></h1>

<img id="todo_logo" src="{% static 'imgs/todo_logo.webp' %}" alt="To-do icon">

<ul>
    <li><a href="https://www.linkedin.com/in/mar-falom%C3%AD-abaa88223/" target="_blank">Mar Falomi</a></li>
    <li><a href="https://www.linkedin.com/in/emmasanchezalbano/" target="_blank">Emma Sanchez</a></li>
    <li><a href="https://www.linkedin.com/in/albert-lanza-rio/" target="_blank">Albert Lanza</a></li>
</ul>

{% endblock %}