<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

    {% block custom_css_file %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main>
        {% include './components/navbar.html' %}
        <section>
            {% block main %}
            {% endblock %}
        </section>
    </main>
</body>

</html>