{% extends 'layout.html' %}

{% block title %} Llistat de tasques {% endblock %}

{% load static %}
{% block custom_css_file %}
<link rel="stylesheet" href="{% static 'css/list_tasks.css' %}">
{% endblock %}

{% block main %}

<div id="new-task-container">
    <form action="{% url 'afegir_task' %}" method="POST">
        {% csrf_token %}
        <input name="title" type="text" placeholder="Introdueix un títol per la tasca..." required>
        <input name="user_id" value="{{ user.id }}" hidden>

        <div id="list-categories">
            {% for c in categories %}
            <label>
                <input type="checkbox" name="categories_ids" value="{{ c.id }}">
                {{ c.name }}
            </label>
            {% endfor %}
        </div>

        <a href="{% url 'manage_categories' %}" class="btn">Gestionar categories</a>

        <button>Afegir nova tasca</button>
    </form>
</div>


<div id="table-container">
    <table>
        <thead>
            <th>Id</th>
            <th>Nom de la tasca</th>
            <th>Autor</th>
            <th>Categories</th>
            <th>Completat</th>
            <th>Accions</th>
        </thead>

        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.author }}</td>
                <td>
                    {% for category in task.categories.all %}
                    {{ category }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ task.completed }}</td>
                <td>
                    <div id="btns-cell">
                        <form action="{% url 'editar_task' task.id %}" method="GET">
                            {% csrf_token %}
                            <button id="edit-btn">Editar</button>
                        </form>
                        <form action="{% url 'eliminar_task' task.id %}" method="GET">
                            {% csrf_token %}
                            <button id="delete-btn">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}