{% extends 'layout.html' %}

{% block title %} Login {% endblock %}

{% load static %}
{% block custom_css_file %}
<link rel="stylesheet" href="{% static 'css/auth_form.css' %}">
{% endblock %}

{% block main %}

<h1>Login</h1>

<form action="{% url 'login_author' %}" method="POST" class="flex flex-col gap-y-4">
  {% csrf_token %}
  {{ userForm.as_p }}
  <p>
    <label for="repeat-password">
      Confirm password:
    </label>
    <input id="repeat-password" type="password" name="password2">
  </p>
  <button type="submit">Login</button>
</form>
<p id="error-msg">{{ error_message}}</p>

{% endblock %}