{% extends 'layout.html' %}

{% block title %} Gestionar categories {% endblock %}

{% load static %}
{% block custom_css_file %}
<link rel="stylesheet" href="{% static 'css/manage_categories.css' %}">
{% endblock %}

{% block main %}

<h1>Gestionar categories</h1>

<form class="add-category-form" action="{% url 'manage_categories' %}" method="POST">
    {% csrf_token %}
    <input type="text" id="id_name" name="name" placeholder="Edita el nom de la categoria" required>
    <button type="submit" name="afegir">Afegir</button>
</form>

{% if editing %}
<form class="add-category-form" action="{% url 'manage_categories' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="category_id" value="{{ category.id }}">
    <input type="text" name="name" value="{{ category.name }}" required>
    <button type="submit" name="update">Guardar canvis</button>
</form>
{% endif %}

<div id="categories-table">
    {% for category in categories %}
    <div class="category-cell">
        <div class="category-actions">
            <form action="{% url 'manage_categories' %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <input type="text" class="category-name" name="name" value="{{ category.name }}" readonly />
                <br />
                <input type="hidden" name="category_id" value="{{ category.id }}">
                <button type="submit" name="edit">
                    Editar
                </button>
            </form>

            <form action="{% url 'manage_categories' %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="category_id" value="{{ category.id }}">
                <button type="submit" name="delete">Eliminar</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const categoryCells = document.querySelectorAll('.category-cell')
        const colors = ['#B0E9CA', '#FFEADD', '#FDE99D', '#FFD8F4', '#D9E8FC']

        categoryCells.forEach(cell => {
            const randomColor = colors[Math.floor(Math.random() * colors.length)]
            cell.style.backgroundColor = randomColor
        })
    })
</script>

{% endblock %}