section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px 0;
    align-items: center;
    height: 100%;

    & img {
        width: 250px;
    }

    & article {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 40px;
        padding: 1rem;
        border-radius: 6px;
        background-color: peru;
        text-align: center;

        & ul {
            margin-top: 10px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 4px;

            & a {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}