h1 {
    font-size: 64px;
}

.add-category-form {
    display: flex;
    gap: 10px;

    & input {
        flex: 1;
        font-size: 18px;
        text-align: center;
        padding: 0.5rem 0;
    }

    & button {
        padding: 0 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}

#categories-table {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin: 1rem 2rem;
    overflow-y: auto;
    scrollbar-width: none;

    & .category-cell {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 1rem;
        border-radius: 4px;
    }

    & .category-actions {
        & input[type="text"][readonly] {
            background-color: transparent;
            outline: none;
            border: none;
            padding: 0.2rem 0;
            text-align: center;
        }
    }
}

#categories-table>.category-cell:nth-child(4n+2),
#categories-table>.category-cell:nth-child(4n+3),
#categories-table>.category-cell:nth-child(4n+4) {
    margin-left: 1rem;
}

#categories-table>.category-cell:nth-child(n+5) {
    margin-top: 1rem;
}